.equation {

  display: flex;
  flex-direction: column;
  height: 66.6vh;
  &__terms-list { //ul
    display: flex;
    align-items: center;
    justify-content: center;

    height: calc(33.3vh - 10px);
    background: #7b6c86;
    margin: 10px;
    padding: 10px;
    flex: 1 1 200px ;
    > li { //li
      margin: 0 20px;
    }
    ul { //components list
      display: flex;
    }

    .term { //li
      display: flex;
      align-items: center;

    }

    &--side1 {

    }


    &--side2 {

    }
  }//terms-list

}//equation


