header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  position: relative;
  @media (max-width: 650px) {
   justify-content: left;
   padding-left: 10px;
  }

  h1 {
    color: $lightColor;
    font-family: $headerFont;
    font-weight: 700;
    font-size: $headerFontSize;
    text-transform: uppercase;



  }

  form {
    margin-right: 10px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-family: $bodyFont;
    font-size: 20px;
    padding: 15px 30px;
    background: $accentColor;
    border: none;
    &:focus {
      border: none;
    }

    option {
      border: none;

    }
  }

}