html {
  font-size: 62.5%;
}

body {
  background: $bgColor;
}


ul, ul ul, li,  li li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

img {
  width: 100%;
}


.level-card {
  display: none;
  opacity: 0;
  transition: opacity 0.5s;

  background: $lightColor;
  padding: 10vw;
  box-shadow:  0px 3px 15px rgba(0, 0, 0, 0.712);

  min-height: 70vh;
  min-width: 70vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;

  h2 {
    font-family: $bodyFont;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
  }

  p {
    font-size: 20px;
    font-family: $bodyFont;
    line-height: 1.6;
    }

}

.level-card.show {
  display: block;
  opacity: 1;
  z-index: 20;
}


main {
  position: relative;
  height: 90vh;  //Note header has height set to 10vh
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  //Flex children
  .player-actions {
    flex:1 1 0;
  }
  .reserve-areas {
    flex: 1 1 0;
  }
  .equation {
    flex: 2 1 0;
  }

}


.component-placeholder, .term-placeholder  {
  visibility: visible;
}

.component-placeholder  {
  background: red;

}

.term-placeholder  {
  background:blue;
}

.components { //  <ul>

}//End of .components  <ul>

.component { //  <li>
  position: relative;
  img { //components image
    max-width: 100px;
    width: $sprite-width;
  }
}// end of .component  <li>

.flipped img {
  transform: rotate(180deg);
}
