/*Width is 100px at 1400px screen width and 60px at 750px screen width*/
$sprite-width: calc(1.3846rem + 6.154vw);

//FONTS
$headerFont:  'Ubuntu', sans-serif;

/*Font is 3 REMs at 1920px screen width and 2 REMs at 450px screen width*/
$headerFontSize: calc(1.6939rem + 0.680vw);

//Colors


//Grey to use for final version
// $bgColor:  #4b4b4b;



$bgColor:  #2E6171;
//Mytle green

$lightColor: #FAFAFA ;


$bodyFont: 'Open Sans', sans-serif;

//Marsha pink
$accentColor: #FF2E7A;



// $accentColor:  #d4afcd;
//Pink lavender

// $neutralColor :   #2E6171;
$neutralColor :   #556F7A;
//Paynes Grey




