/*Width is 100px at 1400px screen width and 60px at 750px screen width*/
$sprite-width: calc(1.3846rem + 6.154vw);


//Colors

$bgColor:  #2E6171;
//Mytle green

$accentColor:  #d4afcd;
//Pink lavender

// $neutralColor :   #2E6171;
$neutralColor :   #556F7A;
//Paynes Grey

//trolley grey  #798086


